.container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 90%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5rem;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #1e1e2f;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
  justify-content: right;
}

.logout a {
  text-decoration: none;
  color: #1e1e2f;
  font-size: 18px;
  display: flex;
  align-items: center;
}
