.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.callButton {
  padding: 10px 20px;
  background-color: orange;
  color: #1e1e2f;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.callButton:disabled {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #1e1e2f;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin: 0 5px;
}

/* .tab:hover {
  background-color: #0056b3;
} */

.content {
  width: 100%;
  max-width: 800px;
}

.customerTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.customerTable thead {
  background-color: orange;
}

.customerTable th,
.customerTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.customerTable th {
  background-color: orange;
  color: #1e1e2f;
}

.customerTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customerTable tbody tr:hover {
  background-color: #ddd;
}

.active {
  background-color: #007bff;
}

.loader {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.error {
  color: red;
  text-align: center;
  padding: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
